In [31]:
t=(1,2,3,'rajesh')

In [32]:
type(t)

tuple

In [33]:
l=[32,55,6,4,"patil"]

In [34]:
type(l)

list

In [35]:
t[0]

1

In [36]:
t[-1]

'rajesh'

In [37]:
t[0:4]

(1, 2, 3, 'rajesh')

In [38]:
l[0:4]

[32, 55, 6, 4]

In [39]:
l[1]=21

In [40]:
l

[32, 21, 6, 4, 'patil']

In [41]:
t[0]=26

TypeError: 'tuple' object does not support item assignment

In [43]:
l=[(1,23,3,4),(7,7,8,8)]

In [44]:
l

[(1, 23, 3, 4), (7, 7, 8, 8)]

In [45]:
s={}

In [46]:
type(s)

dict

In [47]:
s={2,3,4,(1,2),4+7j}

In [50]:
type(s)

set

SET
Set is the data structure in which it stores all kind of values. But it removes duplicate values.

In [48]:
s={1,1,1,2,5,6,6,7,8}

In [49]:
s

{1, 2, 5, 6, 7, 8}

In [52]:
s1={'Rajesh','rajesh'}

In [53]:
s1

{'Rajesh', 'rajesh'}

In [54]:
s={9,8,7,6,5}

In [55]:
s

{5, 6, 7, 8, 9}

In [56]:
s={164,54,87,8,989,6763,611}

In [57]:
s

{8, 54, 87, 164, 611, 989, 6763}

In [58]:
s={'a','c','gdg',163026,6564,5493,6893}

In [59]:
s

{163026, 5493, 6564, 6893, 'a', 'c', 'gdg'}

In [60]:
s[0]

TypeError: 'set' object is not subscriptable

In [61]:
l=list(s)

In [62]:
l

['a', 6564, 'gdg', 6893, 163026, 'c', 5493]

In [63]:
l[0:5]

['a', 6564, 'gdg', 6893, 163026]

In [64]:
s1=set(l)

In [65]:
s1

{163026, 5493, 6564, 6893, 'a', 'c', 'gdg'}

In [42]:
t

(1, 2, 3, 'rajesh')

In [68]:
l=list(t)

In [69]:
l

[1, 2, 3, 'rajesh']

In [70]:
l[0]=100

In [78]:
tuple(l)

(100, 2, 3, 'rajesh')

Dictionary
Dict is  a key-value function. It stores the values with some keys. The values and keys are always separated by ':'. In Dict 'key' should be  a unique value. Key can take any kind of data type except special characters(#, $). Yes it can within string('#rajesh'). Key cant take any data structure of collection like list,set,dict,etc. But values can all these collections.

In [79]:
d={}

In [74]:
d={'name':'rajesh', 'mname':'ravindra','lname':'patil','number':165111,'mail':'avcv@.com'}

In [76]:
d

{'name': 'rajesh',
 'mname': 'ravindra',
 'lname': 'patil',
 'number': 165111,
 'mail': 'avcv@.com'}

In [80]:
d={'name':'rajesh','name':'patil'}

In [81]:
d

{'name': 'patil'}

In [82]:
d={123:'rajesh','name':'patil'}

In [83]:
d

{123: 'rajesh', 'name': 'patil'}

In [84]:
d={2.3:'rajesh','name':'patil'}

In [85]:
d

{2.3: 'rajesh', 'name': 'patil'}

In [86]:
d={4+7j:'rajesh','name':'patil'}

In [87]:
d

{(4+7j): 'rajesh', 'name': 'patil'}

In [88]:
d={_name:'rajesh','name':'patil'}

NameError: name '_name' is not defined

In [89]:
d={'_name':'rajesh','name':'patil'}

In [91]:
d

{'_name': 'rajesh', 'name': 'patil'}

In [92]:
d={'name':'rajesh','s':('s','d',1,2),'t':(1,2,3),'l':[1,2,30],'d1':{'x':23}}

In [93]:
d

{'name': 'rajesh',
 's': ('s', 'd', 1, 2),
 't': (1, 2, 3),
 'l': [1, 2, 30],
 'd1': {'x': 23}}

In [96]:
d={'[1,2,3]:'rajesh',(1,23,65):('s','d',1,2),'t':(1,2,3),'l':[1,2,30],'d1':{'x':23}}

SyntaxError: invalid syntax (<ipython-input-96-9fd11bbef7a9>, line 1)

In [97]:
d={'name':'rajesh','s':('s','d',1,2),'t':(1,2,3),'l':[1,2,30],'d1':{'x':23}}

In [100]:
d['name']

'rajesh'

In [103]:
d={[1,2,3]:'abc'}

TypeError: unhashable type: 'list'

In [104]:
d={{1,2,30}:'abc'}

TypeError: unhashable type: 'set'

In [105]:
d={{'name':'abx'}}

TypeError: unhashable type: 'dict'

In [106]:
s=('name','abc',65,2.3)

In [107]:
type(s)

tuple

In [108]:
s='gshhj bbjjd'

In [110]:
type(s)

str

In [111]:
s[0]='c'

TypeError: 'str' object does not support item assignment

In [120]:
d={'name':'rajesh','s':('s','d',1,2),'t':(1,2,3),'l':[1,2,30],'d1':{'x':23},'set':{1,3,25,4}}

In [121]:
d['s'][1]

'd'

In [124]:
d['set'][0]

TypeError: 'set' object is not subscriptable

In [129]:
l=list(d['set'])

In [136]:
l

[1, 3, 4, 25]

In [137]:
l[2]

4

In [140]:
d['d1']['x']

23

In [145]:
d['lname']='patil'

In [146]:
d

{'name': 'rajesh',
 's': ('s', 'd', 1, 2),
 't': (1, 2, 3),
 'l': [1, 2, 30],
 'd1': {'x': 23},
 'set': {1, 3, 4, 25},
 'lname': 'patil'}

In [147]:
d['name']='ravindra'

In [148]:
d

{'name': 'ravindra',
 's': ('s', 'd', 1, 2),
 't': (1, 2, 3),
 'l': [1, 2, 30],
 'd1': {'x': 23},
 'set': {1, 3, 4, 25},
 'lname': 'patil'}

In [152]:
d[(1,2)]='new'

In [153]:
d

{'name': 'ravindra',
 's': ('s', 'd', 1, 2),
 't': (1, 2, 3),
 'l': [1, 2, 30],
 'd1': {'x': 23},
 'set': {1, 3, 4, 25},
 'lname': 'patil',
 (1, 2): 'new'}

In [154]:
d.keys()

dict_keys(['name', 's', 't', 'l', 'd1', 'set', 'lname', (1, 2)])

In [214]:
l=[1,3,555,565,7,98,65,14,'rajesh',[1,2,3],{2,6,655,5,5,6},(45,40,45),(30,35,98),{'name':'rajesh'},10.5]

In [215]:
for i in l:
    print(i)

1
3
555
565
7
98
65
14
rajesh
[1, 2, 3]
{2, 5, 6, 655}
(45, 40, 45)
(30, 35, 98)
{'name': 'rajesh'}
10.5

In [169]:
for i in l:
    if i>10:
        print(i)

555
565
98
65
14

In [176]:
for i in l:
    if type(i)==str:
        print(i)

rajesh

In [187]:
for i in l:
    if type(i)==float:
        print(i)

10.5

In [196]:
for i in l:
    if type(i)==list:
        for j in i:
            if j == 2:
                print(j)

2

In [210]:
l

[1,
 3,
 555,
 565,
 7,
 98,
 65,
 14,
 'rajesh',
 [1, 2, 3],
 {2, 5, 6, 655},
 (45, 45, 45),
 {'name': 'rajesh'},
 10.5]

In [227]:
for i in l:
    if type(i)==tuple:
        print(i)
        for j in i:
            if j==35:
                print(j)
            
# why output showing 3 lines?

(45, 40, 45)
(30, 35, 98)
35

In [233]:
for i in l:
    if type(i) ==tuple:
        for j in i:
            if j ==45:
                print('yes i get 45')
            else:
                print('no i dont get 45')

yes i get 45
no i dont get 45
yes i get 45
no i dont get 45
no i dont get 45
no i dont get 45

In [243]:
d={'name':'rajesh','mail':'abc.com','no':[1,2,161,65,200,2]}

In [235]:
for i in d:
    print(i)

name
mail
no

In [236]:
d.values()

dict_values(['rajesh', 'abc.com', 123])

In [239]:
for i in d.values() :
    print(i)

rajesh
abc.com
123

In [240]:
for i in d.keys():
    print(d[i])

rajesh
abc.com
123

In [263]:
for i in d.keys():
    if type(d[i]) ==int:
        print(d[i])

In [256]:
for i in d.items():
    if type(i[1])==list:
        print(i[1])
        
        for j in i[1]:
            if j>10:
                print('element',j)
            else :
                print('xhx')
#doubt

[1, 2, 161, 65, 200, 2]
xhx
xhx
element 161
element 65
element 200
xhx

In [265]:
for i in d.items():
    print(i)

('name', 'rajesh')
('mail', 'abc.com')
('no', [1, 2, 161, 65, 200, 2])

In [266]:
s='rajesh'

In [270]:
s[::-1]

'hsejar'